html{background: pink;}

h1{ color: rgb(200, 152, 247)}
H1{font-size: x-large;}
h1{font-style: normal;font-family: cursive;}
h1{font-family:impact}
body{color: hotpink;text-align: left;}
Body{font-family: raleway;}
    p{text-align: left;}
    h2{font: bolder;}
address{text-align: right;}
p{font-family: raleway}
