html{background: pink;}

h1{ color: white; text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;}
body{color: hotpink;text-align: right;}
body{font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
p{text-align: left;}