html{background: pink;}

h1{ color: rgb(200, 152, 247)}
H1{font-size: x-large;}
h1{font-display: block;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif}
h1{font-family:impact}
body{color: hotpink;text-align: left;}
Body{font-family: monospace;}
    p{text-align: left;}
    h2{font: bolder;}
address{text-align: right;}

